#table {
    position: absolute;
    width: 236px;
    height: 220px;
    left: 40%;
}

#imgSize {
    display: none;
}

.container {
    position: absolute;
}

.toggle {
    position: absolute;
    background-color: blue;
    z-index: 2;
}

img {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#timer {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}