body {
    width: 50vw;
    background-color: lightgray;
}

#table {
    position: absolute;
    width: 236px;
    height: 220px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#imgSize {
    display: none;
}

.container {
    position: absolute;
}

.toggle {
    position: absolute;
    background-color: blue;
    z-index: 2;
    box-shadow: 3px 2px 2px black;
}

img {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#timer {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}